body {
  background-color: rgb(237,237,237);
  width:100%;
  text-shadow: 1px 2px 3px rgba(0,0,0,.2);
}

#header {
  background-color: #fff;
  width: 65%;
  margin: 0 auto;
  height: 40px;
  line-height: 2.5em;
  border-radius: 30%;
  box-shadow: 1px 3px 7px rgba(255,255,255,.45);

 }

h1 {text-align: center; text-shadow: 1px 4px 5px rgba(0,0,0,.1);}

#links { margin: 4em 0 0 4em; }

#new-link {
  padding: 10px;
  border:1px solid black;
  width: 200px;
  border-radius: 10px;
  text-decoration: none !important;

}



form input { margin: 5px 0 5px 8px; }
